* {
  border: 0;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  position: relative;
  width: 100%;
}

.inner {
  max-width: 1800px;
  margin: 0 auto;

  @media (max-width: 1850px) {
    max-width: 96%;
  }
}

.cf {
  @include clearfix();
}

.page-body .shop {
  padding-top: 200px;
}

.page_content {
  height: 100vh;
}

.content_right {
  width: 50%;
  height: 100%;
  float: right;
}

.content_image {
  width: 50%;
  height: 100%;
  float: left;
}

.content_text {
  width: 60%;
  margin: 25vh auto 0;
}